# Archivos ignorados
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
VENV/
.venv/
*.env
.env
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.bak
*.tmp
*.orig
*.~ 
.DS_Store
Thumbs.db
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
.eggs/
*.egg-info/
alembic/versions/*.pyc
